.LogMessage {
  min-width: 200px;
  padding: 10px;
  margin-right: 10px;
}

.LogLevelInfo {
  color: white;
  background: #00b7f9;
}

.LogLevelWarning {
  /* color: #f49d37; */
  background: #f49d37;
}

.LogLevelError {
  /* color: #f22b29; */
  background: #f22b29;
}
